<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>PortalMultiCloud</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServletLogin</display-name>
    <servlet-name>ServletLogin</servlet-name>
    <servlet-class>br.com.portal.servlets.ServletLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletLogin</servlet-name>
    <url-pattern>/ServletLogin</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>FilterAutenticacao</display-name>
    <filter-name>FilterAutenticacao</filter-name>
    <filter-class>br.com.portal.filter.FilterAutenticacao</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FilterAutenticacao</filter-name>
    <url-pattern>/FilterAutenticacao</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ServletUsuarioController</display-name>
    <servlet-name>ServletUsuarioController</servlet-name>
    <servlet-class>br.com.portal.servlets.ServletUsuarioController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletUsuarioController</servlet-name>
    <url-pattern>/ServletUsuarioController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletCliente</display-name>
    <servlet-name>ServletCliente</servlet-name>
    <servlet-class>br.com.portal.servlets.ServletCliente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletCliente</servlet-name>
    <url-pattern>/ServletCliente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletGeniricUtil</display-name>
    <servlet-name>ServletGeniricUtil</servlet-name>
    <servlet-class>br.com.portal.servlets.ServletGeniricUtil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletGeniricUtil</servlet-name>
    <url-pattern>/ServletGeniricUtil</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletContratoController</display-name>
    <servlet-name>ServletContratoController</servlet-name>
    <servlet-class>br.com.portal.servlets.ServletContratoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletContratoController</servlet-name>
    <url-pattern>/ServletContratoController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletTelefone</display-name>
    <servlet-name>ServletTelefone</servlet-name>
    <servlet-class>br.com.portal.servlets.ServletTelefone</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletTelefone</servlet-name>
    <url-pattern>/ServletTelefone</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletManutencaoCliente</display-name>
    <servlet-name>ServletManutencaoCliente</servlet-name>
    <servlet-class>br.com.portal.servlets.ServletManutencaoCliente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletManutencaoCliente</servlet-name>
    <url-pattern>/ServletManutencaoCliente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletRecursoContrato</display-name>
    <servlet-name>ServletRecursoContrato</servlet-name>
    <servlet-class>br.com.portal.servlets.ServletRecursoContrato</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletRecursoContrato</servlet-name>
    <url-pattern>/ServletRecursoContrato</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletAditivo</display-name>
    <servlet-name>ServletAditivo</servlet-name>
    <servlet-class>br.com.portal.servlets.ServletAditivo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAditivo</servlet-name>
    <url-pattern>/ServletAditivo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletRecursoAditivo</display-name>
    <servlet-name>ServletRecursoAditivo</servlet-name>
    <servlet-class>br.com.portal.servlets.ServletRecursoAditivo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletRecursoAditivo</servlet-name>
    <url-pattern>/ServletRecursoAditivo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletPagPrincipal</display-name>
    <servlet-name>ServletPagPrincipal</servlet-name>
    <servlet-class>br.com.portal.servlets.ServletPagPrincipal</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletPagPrincipal</servlet-name>
    <url-pattern>/ServletPagPrincipal</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletsAmbiente</display-name>
    <servlet-name>ServletsAmbiente</servlet-name>
    <servlet-class>br.com.portal.servletsManutencao.ServletsAmbiente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletsAmbiente</servlet-name>
    <url-pattern>/ServletsAmbiente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletsTipoDisco</display-name>
    <servlet-name>ServletsTipoDisco</servlet-name>
    <servlet-class>br.com.portal.servletsManutencao.ServletsTipoDisco</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletsTipoDisco</servlet-name>
    <url-pattern>/ServletsTipoDisco</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletsSistemaOperacional</display-name>
    <servlet-name>ServletsSistemaOperacional</servlet-name>
    <servlet-class>br.com.portal.servletsManutencao.ServletsSistemaOperacional</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletsSistemaOperacional</servlet-name>
    <url-pattern>/ServletsSistemaOperacional</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletsTipoServico</display-name>
    <servlet-name>ServletsTipoServico</servlet-name>
    <servlet-class>br.com.portal.servletsManutencao.ServletsTipoServico</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletsTipoServico</servlet-name>
    <url-pattern>/ServletsTipoServico</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletsServicoContratado</display-name>
    <servlet-name>ServletsServicoContratado</servlet-name>
    <servlet-class>br.com.portal.servletsManutencao.ServletsServicoContratado</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletsServicoContratado</servlet-name>
    <url-pattern>/ServletsServicoContratado</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletsCicloUpdate</display-name>
    <servlet-name>ServletsCicloUpdate</servlet-name>
    <servlet-class>br.com.portal.servletsManutencao.ServletsCicloUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletsCicloUpdate</servlet-name>
    <url-pattern>/ServletsCicloUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletsTipoAditivo</display-name>
    <servlet-name>ServletsTipoAditivo</servlet-name>
    <servlet-class>br.com.portal.servletsManutencao.ServletsTipoAditivo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletsTipoAditivo</servlet-name>
    <url-pattern>/ServletsTipoAditivo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletsFaseContrato</display-name>
    <servlet-name>ServletsFaseContrato</servlet-name>
    <servlet-class>br.com.portal.servletsManutencao.ServletsFaseContrato</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletsFaseContrato</servlet-name>
    <url-pattern>/ServletsFaseContrato</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletsRetencaoBackup</display-name>
    <servlet-name>ServletsRetencaoBackup</servlet-name>
    <servlet-class>br.com.portal.servletsManutencao.ServletsRetencaoBackup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletsRetencaoBackup</servlet-name>
    <url-pattern>/ServletsRetencaoBackup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletsPorteEmpresa</display-name>
    <servlet-name>ServletsPorteEmpresa</servlet-name>
    <servlet-class>br.com.portal.servletsManutencao.ServletsPorteEmpresa</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletsPorteEmpresa</servlet-name>
    <url-pattern>/ServletsPorteEmpresa</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletsStatusRecurso</display-name>
    <servlet-name>ServletsStatusRecurso</servlet-name>
    <servlet-class>br.com.portal.servletsManutencao.ServletsStatusRecurso</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletsStatusRecurso</servlet-name>
    <url-pattern>/ServletsStatusRecurso</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletsStatusContrato</display-name>
    <servlet-name>ServletsStatusContrato</servlet-name>
    <servlet-class>br.com.portal.servletsManutencao.ServletsStatusContrato</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletsStatusContrato</servlet-name>
    <url-pattern>/ServletsStatusContrato</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletsStatusCliente</display-name>
    <servlet-name>ServletsStatusCliente</servlet-name>
    <servlet-class>br.com.portal.servletsManutencao.ServletsStatusCliente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletsStatusCliente</servlet-name>
    <url-pattern>/ServletsStatusCliente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletsProduto</display-name>
    <servlet-name>ServletsProduto</servlet-name>
    <servlet-class>br.com.portal.servletsManutencao.ServletsProduto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletsProduto</servlet-name>
    <url-pattern>/ServletsProduto</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletsNuvem</display-name>
    <servlet-name>ServletsNuvem</servlet-name>
    <servlet-class>br.com.portal.servletsManutencao.ServletsNuvem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletsNuvem</servlet-name>
    <url-pattern>/ServletsNuvem</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletsSite</display-name>
    <servlet-name>ServletsSite</servlet-name>
    <servlet-class>br.com.portal.servletsManutencao.ServletsSite</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletsSite</servlet-name>
    <url-pattern>/ServletsSite</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletsFamiliaFlavors</display-name>
    <servlet-name>ServletsFamiliaFlavors</servlet-name>
    <servlet-class>br.com.portal.servletsManutencao.ServletsFamiliaFlavors</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletsFamiliaFlavors</servlet-name>
    <url-pattern>/ServletsFamiliaFlavors</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletTrocaSenha</display-name>
    <servlet-name>ServletTrocaSenha</servlet-name>
    <servlet-class>br.com.portal.servlets.ServletTrocaSenha</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletTrocaSenha</servlet-name>
    <url-pattern>/ServletTrocaSenha</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServeletSecao</display-name>
    <servlet-name>ServeletSecao</servlet-name>
    <servlet-class>br.com.portal.servletsPerfil.ServeletSecao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServeletSecao</servlet-name>
    <url-pattern>/ServeletSecao</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletsPaginaPerfil</display-name>
    <servlet-name>ServletsPaginaPerfil</servlet-name>
    <servlet-class>br.com.portal.servletsPerfil.ServletsPaginaPerfil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletsPaginaPerfil</servlet-name>
    <url-pattern>/ServletsPaginaPerfil</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServeletPerfil</display-name>
    <servlet-name>ServeletPerfil</servlet-name>
    <servlet-class>br.com.portal.servletsPerfil.ServeletPerfil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServeletPerfil</servlet-name>
    <url-pattern>/ServeletPerfil</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletsPerfilUser</display-name>
    <servlet-name>ServletsPerfilUser</servlet-name>
    <servlet-class>br.com.portal.servletsPerfil.ServletsPerfilUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletsPerfilUser</servlet-name>
    <url-pattern>/ServletsPerfilUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletManutencaoUsuarioController</display-name>
    <servlet-name>ServletManutencaoUsuarioController</servlet-name>
    <servlet-class>br.com.portal.servlets.ServletManutencaoUsuarioController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletManutencaoUsuarioController</servlet-name>
    <url-pattern>/ServletManutencaoUsuarioController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletsRelCliente</display-name>
    <servlet-name>ServletsRelCliente</servlet-name>
    <servlet-class>br.com.portal.servletsRelatorios.ServletsRelCliente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletsRelCliente</servlet-name>
    <url-pattern>/ServletsRelCliente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletCadastroContrato</display-name>
    <servlet-name>ServletCadastroContrato</servlet-name>
    <servlet-class>br.com.portal.servlets.ServletCadastroContrato</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletCadastroContrato</servlet-name>
    <url-pattern>/ServletCadastroContrato</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletAFaturar</display-name>
    <servlet-name>ServletAFaturar</servlet-name>
    <servlet-class>br.com.portal.servlets.consolidacao.ServletAFaturar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAFaturar</servlet-name>
    <url-pattern>/ServletAFaturar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletRascunho</display-name>
    <servlet-name>ServletRascunho</servlet-name>
    <servlet-class>br.com.portal.servlets.ServletRascunho</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletRascunho</servlet-name>
    <url-pattern>/ServletRascunho</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletsComercial</display-name>
    <servlet-name>ServletsComercial</servlet-name>
    <servlet-class>br.com.portal.servletsManutencao.ServletsComercial</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletsComercial</servlet-name>
    <url-pattern>/ServletsComercial</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletsSuporteB1</display-name>
    <servlet-name>ServletsSuporteB1</servlet-name>
    <servlet-class>br.com.portal.servletsManutencao.ServletsSuporteB1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletsSuporteB1</servlet-name>
    <url-pattern>/ServletsSuporteB1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletsTipoRascunho</display-name>
    <servlet-name>ServletsTipoRascunho</servlet-name>
    <servlet-class>br.com.portal.servletsManutencao.ServletsTipoRascunho</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletsTipoRascunho</servlet-name>
    <url-pattern>/ServletsTipoRascunho</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletvlrFaturadovlrAFatura</display-name>
    <servlet-name>ServletvlrFaturadovlrAFatura</servlet-name>
    <servlet-class>br.com.portal.servlets.consolidacao.ServletvlrFaturadovlrAFatura</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletvlrFaturadovlrAFatura</servlet-name>
    <url-pattern>/ServletvlrFaturadovlrAFatura</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletsClientesPorPeiodoEntrada</display-name>
    <servlet-name>ServletsClientesPorPeiodoEntrada</servlet-name>
    <servlet-class>br.com.portal.servletsRelatorios.ServletsClientesPorPeiodoEntrada</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletsClientesPorPeiodoEntrada</servlet-name>
    <url-pattern>/ServletsClientesPorPeiodoEntrada</url-pattern>
  </servlet-mapping>
</web-app>